.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 15rem;
    background-image: url('../../images/Destination/background-destination-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerLeft{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding-left: 10rem;
}
.titleMars{
    font-size: 2rem;
    font-weight: 100;
    color: aliceblue;
    margin-bottom: 4rem;
    text-align: start;
}
.numberTitle{
    color: grey;
    margin-right: 2rem;
    margin-left: 10rem;
}
/* -----------> Section Images <------------------- */
.imageMars{
    width: 32rem;
    height: 32rem;
    margin-left: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    background-image: url('../../images/Destination/image-mars.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imageMoon{
    width: 32rem;
    height: 32rem;
    margin-left: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    background-image: url('../../images/Destination/image-moon.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imageEuropa{
    width: 32rem;
    height: 32rem;
    margin-left: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    background-image: url('../../images/Destination/image-europa.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imageTitan{
    width: 32rem;
    height: 32rem;
    margin-left: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    background-image: url('../../images/Destination/image-titan.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerRigth{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; 
}
.title{
    font-size: 10rem;
    font-weight: 350;
    color: white;
    margin-left: 1rem;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
}
.principalParrafo{
    font-size: 2rem;
    color: lightblue;
    margin-right: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
}
.principalParrafoH{
    font-size: 2rem;
    color: lightblue;
    margin-right: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
.principalParrafoS:hover{
    text-decoration: underline;
}
.description{
    font-size: 1.5rem;
    text-align: left;
    color: lightblue;
    line-height: 3rem;
    border-bottom: 1px solid aliceblue;
    width: 90%;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2px;
    width: 90% ;
    padding: 0;
    margin: 2rem 0;
}
.avg{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.avgPTitle{
    font-size: 1.5rem;
    color: lightblue;
    line-height: 3rem;
}
.avgKm{
    font-size: 2.5rem;
    color: white;
    line-height: 3rem;
}
